.login-screen{
  display: flex;
  flex-direction: column ;
  align-items: flex-end;
  justify-content: left;
}
.responsive{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.sign-in {
  padding: 15px;
  border-radius: 30px;
  background-color: #D35400;
  border: hidden;
  font-family: poppins;
  color: white;
}
button .sign-up {
  padding: 15px;
  border-radius: 30px;
  border: hidden;
  background-color: #ECF0F1;
}
